{% extends 'base.html.twig' %}

{% block title %}Favorites Listing!{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>My Favourites <span><a href="{{ path('fruit_index') }}">Fruit list</a> </span></h1>
    <div {{ vue_component('Favourites', { 'favourites': favourites}) }}></div>

</div>
{% endblock %}
